#snakeOverlay {
    position: absolute;
    display: table;
    width: calc(60vw + 39px);
    height: calc(30vw + 19px);
    background-color: rgba(84,84,84, 0.8);
    color: white;
    font-size: 50px;
    vertical-align: middle;
    text-align: center;
}

#snakeText {
    display: table-cell;
    vertical-align: middle;
}

#snakeGrid {
    display: grid;
    grid-template-rows: repeat(10, 3vw);
    grid-template-columns: repeat(20, 3vw);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

#snakeKeys {
    position: absolute;
    margin-top: calc((30vw + 19px) / 2 + 15px);
    width: calc(60vw + 40px);
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: rgba(0,0,0,0.4);
}