html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    position:fixed;
    left:0;
    top:0;
    margin: 0;
    padding: 0;
    right:0;
    bottom:0;
    z-index:-1;
    background-color: #b7b3b3;
}

#leftNav {
    background-color: #b0b0b0;
    width: 250px;
    border-right: 1px solid white;
    color: black;
    height: 100%;
    float: left;
    transition: width 0.5s;
}

.collapseText {
    opacity: 1;
    transition: opacity 0.3s;
}

#titleDiv {
    font-size: 50px;
}

#titleDiv .titleText {
    font-size: 120%;
    font-weight: bold;
}

#leftNav hr {
    margin: 1px 5px 10px 5px;
}

#content {
    background: linear-gradient(to right, #c6c6c6, #999999);
    width: calc(100% - 251px);
    height: 100%;
    float: left;
    transition: width 0.5s;
}

@media screen and (max-width: 800px){
    #leftNav {
        width: 50px;
        transition: width 0.5s;
    }

    .collapseText {
        opacity: 0;
        transition: opacity 0.3s;
    }

    #content {
        width: calc(100% - 51px);
        transition: width 0.5s;
    }


}