html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    position:fixed;
    left:0;
    top:0;
    margin: 0;
    padding: 0;
    right:0;
    bottom:0;
    z-index:-1;
    background-color: #b7b3b3;
}

#leftNav {
    background-color: #b0b0b0;
    width: 250px;
    border-right: 1px solid white;
    color: black;
    height: 100%;
    float: left;
    transition: width 0.5s;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.collapseText {
    opacity: 1;
    transition: opacity 0.3s;
}

#titleDiv {
    font-size: 50px;
}

#titleDiv .titleText {
    font-size: 120%;
    font-weight: bold;
}

#leftNav hr {
    margin: 1px 5px 10px 5px;
}

#content {
    background: linear-gradient(to right, #c6c6c6, #999999);
    width: calc(100% - 251px);
    height: 100%;
    float: left;
    transition: width 0.5s;
}

.contentBox {
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentDiv {
    width: 90%;
    height: 130px;
    transition: width 0.3s;
    border: 1px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.contentDiv:hover {
    width: calc(90% + 20px);
    transition: width 0.3s;
}

.contentDiv:hover .contentTitle {
    color: #0063ac;
    transition: color 0.2s;
}

.contentDiv .contentTitle {
    font-size: 40px;
    padding-left: 10px;
    font-weight: bold;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    transition: color 0.2s;
}

.contentDiv hr {
    margin: 5px;
}

.contentDiv .contentDescription {
    font-size: 20px;
    padding-left: 10px;
    overflow: auto;
}

.contentDiv .contentHighlight {
    color: black;
    transition: color 0.2s;
}

.contentDiv:hover .contentHighlight {
    color: red;
    transition: color 0.2s;
}

@media screen and (max-width: 800px){
    #leftNav {
        width: 50px;
        transition: width 0.5s;
    }

    .collapseText {
        opacity: 0;
        transition: opacity 0.3s;
    }

    #content {
        width: calc(100% - 51px);
        transition: width 0.5s;
    }


}