html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    position:fixed;
    left:0;
    top:0;
    margin: 0;
    padding: 0;
    right:0;
    bottom:0;
}

#content {
    overflow: auto;
}

.scrollDown {
    position: absolute;
    margin-top: calc(50vh - 30px);
    padding: 0;
    width: 100%;
    height: 50px;
    text-align: center;
}

#shadow {
    position: fixed;
    left:0;
    top:0;
    margin: 0;
    padding: 0;
    right:0;
    bottom:0;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    background: url("shadow.png") no-repeat center center fixed;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
}

.contentDiv {
    width: auto;
    height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
    display: flex;
    flex-direction: column;
}

.titleDiv {
    font-size: 60px;
    height: 100px;
}

.descriptionDiv {
    font-size: 20px;
}

#welcomeDiv {
    background-color: #255583;
}

#arraySortDiv {
    background-color: red;
}

#testDiv {
    background-color: darkgreen;
}