#snakeGrid {
    position: relative;
    display: grid;
    color: white;
    grid-template-rows: repeat(10, 3vw);
    grid-template-columns: repeat(20, 3vw);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}

#snakeOverlay {
    position: absolute;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(84,84,84, 0.8);
    font-size: 50px;
    text-align: center;
    transition: background-color 0.4s, opacity 0.5s;
}

#snakeOverlay:hover {
    background-color: rgba(84,84,84, 0.6);
    cursor: pointer;
    transition: background-color 0.4s;
}

#snakeKeys {
    position: absolute;
    top: 100%;
    width: 100%;
    text-align: center;
    line-height: 30px;
    background-color: rgba(0,0,0,0.4);
}

#snakeOverlay.invisible {
    opacity: 0;
    transition: background-color 0.4s, opacity 0.5s;
}

#snakeOverlay.visible {
    opacity: 1;
    transition: background-color 0.4s, opacity 0.5s;
}

#snakeOverlay.invisible:hover {
    cursor: default;
}